@import "../../mixins";

.contact {
  width: 70vw;
  padding: 3em 4em;

  @media screen and (max-width: 850px) {
    width: 100vw;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input {
      margin-bottom: 1rem;
      width: 100%;
      height: 3em;
      border-radius: 0.5em;
      border: 1px solid #212125;
      color: #18181b;
      padding: 1em 2em;
    }

    textarea {
      margin-bottom: 1rem;
      width: 100%;
      height: 10em;
      border-radius: 0.5em;
      border: 1px solid #212125;
      color: #18181b;
      padding: 2em;
      resize: vertical;
    }
  }
  .button-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    button {
      margin-top: 0.5rem;
      padding: 0 2em;
      @media screen and (max-width: 850px) {
        width: 100%;
        margin-left: 0;
      }
      height: 3em;
      border-radius: 0.5em;
      border: 1px solid #212125;
      color: white;
      background-color: #18181b;
      font-family: "Roboto";
      font-size: 1.5em;
      font-weight: 500;
      letter-spacing: 0.2em;
      cursor: pointer;
    }
  }
}

@include desktop() {
  .hero {
    height: 91vh;
    display: grid;
    grid-template-columns: 66% auto;

    .left {
      padding: 2em 4em;
      height: 100%;
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background: #212125;
      color: white;
      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        h1 {
          font-size: 5em;
          @media (max-width: 1570px) {
            font-size: 4em;
          }
          @media (max-width: 1325px) {
            font-size: 3.5em;
          }
          @media (max-width: 1200px) {
            font-size: 3em;
          }
          font-weight: bold;
          font-family: "poppins";
          margin-bottom: 0.6em;
          line-height: 1.2em;
        }
      }
      .meet {
        font-size: 3.5em;
        @media (max-width: 1325px) {
          font-size: 3em;
        }
        @media (max-width: 1200px) {
          font-size: 2em;
        }
        font-weight: 400;
        font-family: "Roboto";
        margin-bottom: 1em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        .arrow {
          display: grid;
          place-content: center;
          font-size: 50px;
          margin-left: 0.6em;
        }
      }
    }

    .right {
      width: 100%;
      margin-left: -50%;
      display: grid;
      place-content: center;

      img {
        max-width: 370px;
      }
    }
  }

  .about {
    height: 90vh;
    display: grid;
    grid-template-columns: 66% auto;

    .left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 2em 4em;

      .subtitle {
        margin-left: 5px;
        font-weight: 500;
        letter-spacing: 1.1em;
        text-transform: uppercase;
      }

      .title {
        font-weight: bold;
        font-size: 3em;
        font-family: "poppins";
        margin-bottom: 0.2em;
        line-height: 1.2em;
      }

      .text {
        font-size: 1.5em;
        font-family: "Roboto";
        line-height: 1.5em;
        margin-bottom: 2em;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2em 4em;
      background: #212125;
      color: white;

      .title {
        font-weight: bold;
        font-size: 3em;
        font-family: "poppins";
        margin-bottom: 0.2em;
        line-height: 1.2em;
      }
    }
  }

  .skills {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #18181b;
    padding: 7em 4em;

    .skills-container ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 5em;

      li {
        background: white;
        padding: 6em 2em;
        border-radius: 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: #18181b solid 1px;

        .icon-container {
          font-size: 7em;
          color: #18181b;
        }

        .title {
          font-size: 2.2em;
          font-family: "Poppins";
          font-weight: bold;
          text-align: center;
          line-height: 1.2em;
        }

        .desc {
          margin-top: 1em;
          text-align: center;
          font-family: "Roboto";
          font-size: 1.2em;
          font-weight: 500;
        }
      }
    }
  }

  .projects-container {
    display: grid;
    grid-template-columns: 40% auto;
    margin-top: 3em;

    .left {
      display: grid;
      place-content: center;
      justify-content: flex-start;
      padding: 2em 4em;

      .subtitle {
        margin-bottom: 5px;
        font-weight: 500;
        letter-spacing: 1em;
        text-transform: uppercase;
      }

      .title {
        font-weight: bold;
        font-size: 2.5em;
        font-family: "poppins";
        margin-bottom: 0.2em;
        line-height: 1.2em;
      }

      .desc {
        font-size: 1.5em;
        font-family: "Roboto";
        line-height: 1.5em;
        margin-bottom: 2em;
      }
    }

    a {
      display: flex;
      justify-content: flex-end;
    }

    .right {
      margin-left: 20em;
      margin-top: 1em;
      max-width: 700px;
    }
  }

  .action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;

    .like {
      font-family: "Roboto";
      font-size: 3em;
      font-weight: 400;
      margin-bottom: 0.2em;
    }

    .hire {
      font-family: "poppins";
      font-size: 4em;
      font-weight: bold;
    }
  }
}

@include tablet() {
  .hero {
    height: 91vh;
    background: #212125;
    color: white;
    display: grid;
    place-content: center;

    .left {
      padding: 2em 3em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      h1 {
        font-size: 4em;
        font-weight: bold;
        font-family: "poppins";
        margin-bottom: 0.6em;
        line-height: 1.2em;
      }

      .meet {
        font-size: 2em;
        font-weight: 400;
        font-family: "Roboto";
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .arrow {
          font-size: 40px;
          margin-top: 0.6em;
        }
      }
    }

    .right {
      display: none;
    }
  }

  .about {
    height: 91vh;
    display: grid;
    grid-template-columns: 66% auto;

    .left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 2em 3em;

      .subtitle {
        margin-left: 5px;
        font-weight: 500;
        letter-spacing: 1.1em;
        text-transform: uppercase;
      }

      .title {
        font-weight: bold;
        font-size: 3em;
        font-family: "poppins";
        margin-bottom: 0.2em;
        line-height: 1.2em;
      }

      .text {
        font-size: 1.5em;
        font-family: "Roboto";
        line-height: 1.5em;
        margin-bottom: 2em;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2em 3em;
      text-align: center;

      .title {
        font-weight: bold;
        font-size: 3em;
        font-family: "poppins";
        margin-bottom: 0.2em;
        line-height: 1.2em;
      }
    }
  }

  .skills {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #18181b;
    padding: 7em 3em;

    .skills-container ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3em;

      li {
        background: white;
        padding: 6em 2em;
        border-radius: 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 190px;

        .icon-container {
          font-size: 7em;
          color: #18181b;
        }

        .title {
          font-size: 2.2em;
          font-family: "Poppins";
          font-weight: bold;
          text-align: center;
          line-height: 1.2em;
        }

        .desc {
          margin-top: 1em;
          text-align: center;
          font-family: "Roboto";
          font-size: 1.2em;
          font-weight: 500;
        }
      }
    }
  }

  .projects-container {
    display: grid;
    grid-template-columns: 40% auto;
    margin-top: 3em;

    .left {
      display: grid;
      place-content: center;
      justify-content: flex-start;
      padding: 2em 3em;

      .subtitle {
        margin-bottom: 5px;
        font-weight: 500;
        letter-spacing: 1em;
        text-transform: uppercase;
      }

      .title {
        font-weight: bold;
        font-size: 2.5em;
        font-family: "poppins";
        margin-bottom: 0.2em;
        line-height: 1.2em;
      }

      .desc {
        font-size: 1.5em;
        font-family: "Roboto";
        line-height: 1.5em;
        margin-bottom: 2em;
      }
    }

    a {
      display: flex;
      justify-content: flex-end;
    }

    .right {
      margin-left: 5em;
      margin-top: 1em;
      max-width: 500px;
    }
  }

  .action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;

    .like {
      font-family: "Roboto";
      font-size: 3em;
      font-weight: 400;
      margin-bottom: 0.2em;
    }

    .hire {
      font-family: "poppins";
      font-size: 4em;
      font-weight: bold;
    }
  }
}

@include phone() {
  .hero {
    height: 91vh;
    background: #212125;
    color: white;
    display: grid;
    place-content: center;

    .left {
      padding: 2em 2em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      h1 {
        font-size: 3em;
        font-weight: bold;
        font-family: "poppins";
        margin-bottom: 0.6em;
        line-height: 1.3em;
      }

      .meet {
        font-size: 2em;
        font-weight: 400;
        font-family: "Roboto";
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .arrow {
          font-size: 40px;
          margin-top: 0.6em;
        }
      }
    }

    .right {
      display: none;
    }
  }

  .about {
    height: 90vh;
    display: grid;
    grid-template-rows: 1fr 1fr;

    .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2em 2em;

      .subtitle {
        margin-left: 5px;
        font-weight: 500;
        letter-spacing: 1.1em;
        text-transform: uppercase;
      }

      .title {
        font-weight: bold;
        font-size: 3em;
        font-family: "poppins";
        margin-bottom: 0.2em;
        line-height: 1.2em;
      }

      .text {
        font-size: 1.5em;
        font-family: "Roboto";
        line-height: 1.5em;
        margin-bottom: 2em;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2em 3em;
      text-align: center;

      .title {
        font-weight: bold;
        font-size: 3em;
        font-family: "poppins";
        margin-bottom: 0.2em;
        line-height: 1.2em;
      }
    }
  }

  .skills {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #18181b;
    padding: 5em 2em;
    margin-bottom: 3em;

    .skills-container ul {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 3em;

      li {
        background: white;
        padding: 6em 2em;
        border-radius: 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 190px;

        .icon-container {
          font-size: 7em;
          color: #18181b;
        }

        .title {
          font-size: 2.2em;
          font-family: "Poppins";
          font-weight: bold;
          text-align: center;
          line-height: 1.2em;
        }

        .desc {
          margin-top: 1em;
          text-align: center;
          font-family: "Roboto";
          font-size: 1.2em;
          font-weight: 500;
        }
      }
    }
  }

  .projects-container {
    display: grid;
    grid-template-rows: 40% auto;
    margin-top: 3em;

    .left {
      display: grid;
      place-content: center;
      padding: 2em 2em;

      .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .subtitle {
          margin-bottom: 5px;
          font-weight: 500;
          letter-spacing: 1em;
          text-transform: uppercase;
        }

        .title {
          font-weight: bold;
          font-size: 2.5em;
          font-family: "poppins";
          margin-bottom: 0.2em;
          line-height: 1.2em;
        }

        .desc {
          font-size: 1.5em;
          font-family: "Roboto";
          line-height: 1.5em;
          margin-bottom: 2em;
        }
      }
    }

    a {
      display: flex;
      justify-content: center;
    }

    .right {
      margin-top: 1em;
      max-width: 250px;
    }
  }

  .action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;

    .like {
      font-family: "Roboto";
      font-size: 2em;
      font-weight: 400;
      margin-bottom: 0.2em;
    }

    .hire {
      font-family: "poppins";
      font-size: 3em;
      font-weight: bold;
    }
  }
}
