.hero {
  height: 90vh;
  display: grid;
  grid-template-columns: 66% auto;

  .left {
    padding: 2em 4em;
    height: 100%;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: #212125;
    color: white;

    h1 {
      font-size: 3em;
      font-weight: bold;
      font-family: 'poppins';
      margin-bottom: 1em;
      line-height: 1.2em;
    }

    .meet {
      font-size: 2em;
      font-weight: 400;
      font-family: 'Roboto';
      margin-bottom: 1em;
      display: flex;
      align-items: center;
      justify-content: center;

      .arrow {
        font-size: 40px;
        margin-left: 1em;
      }
    }
  }

  .right {
    width: 100%;
    margin-left: -50%;
    margin-top: 15%;
  }
}

.about {
  height: 100vh;
  display: grid;
  grid-template-columns: 66% auto;


  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2em 4em;

    .subtitle {
      margin-left: 5px;
      font-weight: 500;
      letter-spacing: 1.1em;
      text-transform: uppercase;
    }

    .title {
      font-weight: bold;
      font-size: 3em;
      font-family: 'poppins';
      margin-bottom: .2em;
      line-height: 1.2em;
    }

    .text {
      font-size: 1.5em;
      font-family: 'Roboto';
      line-height: 1.5em;
      margin-bottom: 2em;
    }
  }


  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 4em;
    background: #212125;
    color: white;

    .title {
      font-weight: bold;
      font-size: 3em;
      font-family: 'poppins';
      margin-bottom: .2em;
      line-height: 1.2em;
    }
  }
}

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #18181b;
  padding: 7em 4em;

  .skills-container ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5em;

    li {
      background: white;
      padding: 6em 2em;
      border-radius: 1.5em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .icon-container {
        font-size: 7em;
        color: #18181b;
      }

      .title {
        font-size: 2.2em;
        font-family: 'Poppins';
        font-weight: bold;
        text-align: center;
        line-height: 1.2em;
      }

      .desc {
        margin-top: 1em;
        text-align: center;
        font-family: 'Roboto';
        font-size: 1.2em;
        font-weight: 500;
      }
    }
  }
}

.projects-container{
  display: grid;
  grid-template-columns: 40% auto;
  margin-top: 3em;

  .left{
    display: grid;
    place-content: center;
    padding: 2em 4em;

    .subtitle {
        margin-bottom: 5px;
        font-weight: 500;
        letter-spacing: 1em;
        text-transform: uppercase;
      }
    
      .title {
        font-weight: bold;
        font-size: 2.5em;
        font-family: 'poppins';
        margin-bottom: .2em;
        line-height: 1.2em;
      }
    
      .desc {
        font-size: 1.5em;
        font-family: 'Roboto';
        line-height: 1.5em;
        margin-bottom: 2em;
      }
  }

  .right{
    margin-left: 5em;
    margin-top: 1em;
    max-width: 700px;
  }
}