@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto&family=Roboto+Serif:opsz,wght@8..144,300;8..144,400;8..144,600;8..144,700;8..144,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font:
    400 16px "Roboto",
    sans-serif;
  background-color: #121212;
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  scroll-padding: 0;
  scroll-margin: 0;
  box-sizing: border-box;
  list-style: none;
}

h1 {
  text-align: center;
}

p {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

li {
  padding-bottom: 0.5rem;
}

.hero-bg {
  background: linear-gradient(90deg, #121212 26.61%, rgba(18, 18, 18, 0) 100%);
  backdrop-filter: blur(2.5px);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #121212;
  padding: 2px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 5px;
  transition: 300ms;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-moz-selection {
  /* Code for Firefox */
  color: #121212;
  background: #ffffff;
}

::selection {
  color: #121212;
  background: #ffffff;
}
