@import "../../mixins";

@include desktop() {
  .header {
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 66% auto;

    .left {
      padding: 2em 4em;
      background: #18181b;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        font-family: "poppins";
        font-weight: bold;
        font-size: 1.5em;
        color: white;
      }

      .nav-elements {
        padding-left: 2em;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        p {
          cursor: pointer;
          font-size: 1.2em;
          font-weight: 400;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #18181b;

      .social-media {
        margin-left: 4em;
        cursor: pointer;

        .icon {
          font-size: 2em;
        }
      }
    }
  }
}

@include tablet() {
  .header {
    background: #18181b;

    .left {
      padding: 2em 3em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;

      h1 {
        font-family: "poppins";
        font-weight: bold;
        font-size: 1.5em;
        color: white;
      }

      .nav-elements {
        padding-left: 2em;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        p {
          cursor: pointer;
          font-size: 1.2em;
          font-weight: 400;
        }
      }
    }

    .right {
      display: none;
    }
  }
}

@include phone() {
  .header {
    background: #18181b;
    color: white;

    .left {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1em 2em;

      h1 {
        color: white;
        text-align: left;
        font-family: "poppins";
        font-weight: bold;
        font-size: 1.3em;
      }

      .nav-elements {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        p {
          cursor: pointer;
          font-size: 1em;
          font-weight: 400;
        }
      }
    }
    .right {
      display: none;
    }
  }
}
