@import "../../mixins";

@include desktop() {
  .footer {
    background: #18181b;
    color: white;
    padding: 1.5em 0;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Roboto", sans-serif;
    font-size: 1.4em;
    font-weight: 400;

    .left {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
    }

    .mid {
      width: 100%;
      display: grid;
      place-content: center;
    }

    .right {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .links {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 4em;

        p {
          cursor: pointer;
        }
      }

      a {
        color: white;
      }
    }
  }
}

@include tablet() {
  .footer {
    background: #18181b;
    color: white;
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Roboto", sans-serif;
    font-size: 1.4em;
    font-weight: 400;

    .left {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
    }

    .mid {
      width: 100%;
      display: grid;
      place-content: center;
    }

    .right {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .links {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 4em;

        p {
          cursor: pointer;
        }
      }

      a {
        color: white;
      }
    }
  }
}

@include phone() {
}
