@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Roboto:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: 0;
  scroll-padding: 0;
  scroll-margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font: 400 14px "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-y: auto;
  overflow-x: hidden;
}

input,
button,
textarea {
  font: 400 18px "Roboto", sans-serif;
}

button {
  cursor: pointer;

}

a {
  color: black;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
  margin: 1px;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: inset 0 0 40px 40px rgb(96, 96, 96);
  border: solid 1px transparent;
}